<%= form_for(flights_path, method: "get") do %>

<h3>Departing from: <%= select_tag(:departure_id, options_for_select(@airport_options)) %> |
  Arriving at: <%= select_tag(:arrival_id, options_for_select(@airport_options)) %>
</h3>
<hr>
<h3>Number of passengers: <%= select_tag(:passengers, options_for_select(@passenger_options)) %></h3>
<hr>
<h3>Date: <%= select_tag(:date, options_for_select(@date_options)) %></h3>
<hr><h3><%= submit_tag("submit") %></h3>
<% end %>

